.rootLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.3rem;
    padding: 1rem;

    .logo {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1.5rem;
    }
  }
}
